---
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Astro Test</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/styles/global.css">
  </head>
  <body>
    <div>
      <Header />

      <main>
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
